<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Test</title>
    <script src="https://cdn.jsdelivr.net/npm/phaser@3.15.1/dist/phaser-arcade-physics.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
</head>
<body>

<script>
    var config = {
        type: Phaser.AUTO,
        width: 900,
        height: 400,
        physics: {
            default: 'arcade',
            arcade: {
                gravity: { y: 200 }
            }
        },
        scene: {
            preload: preload,
            create: create,
            update: update
        }
    };

    var game = new Phaser.Game(config);

    function preload()
    {
        {% for carta in mazzo %}
            this.load.image('carta{{ carta.id }}', '{{url_for('static', filename='carte/'+carta.file)}}');
        {% endfor %}

        //84x144
        //this.load.image('sky', '{/{url_for('static', filename='carte/basto01.png')}}');
        //this.load.image('sky2', '{/{url_for('static', filename='carte/basto02.png')}}');
        //this.load.image('logo', 'assets/sprites/phaser3-logo.png');
        //this.load.image('red', 'assets/particles/red.png');
    }
    tavolo = {}
    cc = ''
    function create ()
    {
        cc = this.add.image(900-(84/2), 400-(144/2), 'carta1');
        cc.setInteractive().on('pointerdown', () => cc.y -= 20)
        this.add.image(900-(84/2)-84, 400-(144/2), 'carta10');
        aa = this.add.text(5, 5, 'Button', { fill: '#0f0' })
        aa.setInteractive().on('pointerdown', () => test())
        console.log(aa.width + ' ' + aa.height)
        this.add.text(10 + aa.width, 5, 'Button', { fill: '#0f0' })

        /*
        var particles = this.add.particles('red');

        var emitter = particles.createEmitter({
            speed: 100,
            scale: { start: 1, end: 0 },
            blendMode: 'ADD'
        });

        var logo = this.physics.add.image(400, 100, 'logo');

        logo.setVelocity(100, 200);
        logo.setBounce(1, 1);
        logo.setCollideWorldBounds(true);

        emitter.startFollow(logo);

         */
    }

    last = Date.now()
    function update()
    {
        now = Date.now()
        if (now - last >= 10000)
        {
            cc.destroy()
            console.log("CIAOOOO")
            last = now
            $.ajax({
             url: '/',
             method : 'GET',
             data: {
             },
             beforeSend: function() {

             },
             success: function(response) {
                 console.log(response)
                 cc = this.add.image(900-(84/2), 400-(144/2), 'carta20');
                 cc.setInteractive().on('pointerdown', () => cc.y -= 20)
              }
        });
        }
    }

    function updateUI()
    {
        $.ajax({
             url: '/aggiornamento',
             method : 'GET',
             data: {
                 'giocatore': giocatore
             },
             beforeSend: function() {

             },
             success: function(response) {
                 console.log(response)
                 updateUI(response.res)
                 show_logs(response.logs)
                 azzera_carte()
              }
        });
    }

    </script>
</body>
</html>